RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

#redirect any request to index.php - evenIf it has a 
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]